<template>
  <div>
    <div class="container">
      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div>Create</div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <el-row class="button_r">
            <el-button type="success" :loading="loadingButton" :disabled="loadingButton ? true : false"
                       @click="submit(true)">Save
            </el-button>
            <el-button @click="close()">Close</el-button>
          </el-row>
        </el-col>
      </el-row>
    </div>

    <div class="container">
      <el-form ref="form" :model="form" :rules="rules" size="small">
        <el-row :gutter="25">
          <el-col :span="25">
            <el-form-item label="Start date" prop="start_date">
              <el-date-picker
                  v-model="form.start_date"
                  value-format="yyyy-MM-d"
                  format="yyyy-MM-d"
                  placeholder="Start date"
                  size="mini"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="25">
            <el-form-item label="Room" prop="room_id">
              <el-select filterable clearable placeholder="Room" size="mini"
                         v-model="form.room_id">
                <el-option v-for="item in roomsIn" :key="'room -'+ item.name + item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="25">
            <el-form-item label="Group" prop="group_id">
              <el-select filterable clearable placeholder="Group" size="mini"
                         v-model="form.group_id">
                <el-option v-for="item in groupsIn" :key="'group -'+ item.name + item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="25">
            <el-form-item label="Teacher" prop="teacher_id">
              <el-select filterable clearable placeholder="Teacher" size="mini"
                         v-model="form.teacher_id">
                <el-option v-for="item in teachersIn" :key="'teacher -'+ item.full_name + item.id" :label="item.full_name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="25">
            <el-form-item label="Subject" prop="subject_id">
              <el-select filterable clearable placeholder="Subject" size="mini"
                         v-model="form.subject_id">
                <el-option v-for="item in subjectsIn" :key="'subject -'+ item.name + item.id" :label="item.name" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <!-- end col -->
        </el-row>
        <!-- end el-row -->
      </el-form>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex';
import form from '@/utils/mixins/form';
import drawerChild from '@/utils/mixins/drawer-child';

export default {
  mixins: [form, drawerChild],
  data() {
    return {}
  },
  components: {
  },
  created() {
  },
  computed: {
    ...mapGetters({
      rules: 'schedules/rules',
      model: 'schedules/model',
      columns: 'schedules/columns',
      roomsIn: "rooms/inventory",
      groupsIn: "groups/inventory",
      teachersIn: "teachers/inventory",
      subjectsIn: "subjects/inventory",

    })
  },
  watch: {
    'form.start_date': {
      handler: async function(newVal, oldVal) {
          await this.loadRoomsInventory({'start_date': newVal});
          await this.loadGroupsInventory({'start_date': newVal});
          await this.loadTeachersInventory({'start_date': newVal});
          await this.loadSubjectsInventory({'start_date': newVal});
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    ...mapActions({
      save: 'schedules/store',
      empty: 'schedules/empty',
      loadRoomsInventory: "rooms/inventory",
      loadGroupsInventory: "groups/inventory",
      loadTeachersInventory: "teachers/inventory",
      loadSubjectsInventory: "subjects/inventory",

    }),
    afterOpened() {
      this.form = JSON.parse(JSON.stringify(this.model));
    },
    afterClosed() {
      this.empty()
    },
    submit(close = true) {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loadingButton = true;
          this.save(this.form)
              .then(res => {
                this.loadingButton = false;
                this.$alert(res);
                this.parent().listChanged()
                if (close == true) {
                  this.close();
                }
              })
              .catch(err => {
                this.loadingButton = false;
                this.$alert(err);
              });
        }
      });
    }
  }
}
</script>
