<template>
  <div class="container-fluid mt-5">
    <div class="row table-sm mr-0 ml-0 p-0">
      <div class="row table-sm mr-0 ml-0 p-0 mb-3 width-100">

        <div class="col-7 p-0 align-self-center font-weight-bold d-flex align-items-center">
          <h5 class="d-inline mr-2 font-weight-bold">Subjects</h5>
        </div>

        <div class="col-5 align-items-center align-self-center text-right pr-0 d-flex justify-content-end" >
          <el-button size="mini" @click="drawer.create.status = true" icon="el-icon-circle-plus-outline">
            Create
          </el-button>

        </div>

      </div>
      <table class="table table-bordered table-hover" v-loading="loadingData">
        <crm-pagination :pagination="pagination" @c-change="updatePagination"></crm-pagination>
        <thead>
        <tr>
          <crm-th :column="columns.id" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.room_id" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.group_id" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.teacher_id" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.subject_id" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.start_date" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.created_at" :sort="sort" @c-change="updateSort"></crm-th>
        </tr>

        <tr>
          <th v-if="columns.id.show">
            <el-input
                clearable
                size="mini"
                v-model="filterForm.id"
                class="id_input"
                :placeholder="columns.id.title"
            ></el-input>
          </th>
          <th v-if="columns.room_id.show">
            <el-select filterable clearable placeholder="Room" size="mini"
                       v-model="filterForm.room_id">
              <el-option v-for="item in rooms" :key="'room -'+ item.name + item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </th>
          <th v-if="columns.group_id.show">
            <el-select filterable clearable placeholder="Group" size="mini"
                       v-model="filterForm.group_id">
              <el-option v-for="item in groups" :key="'group -'+ item.name + item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </th>
          <th v-if="columns.teacher_id.show">
            <el-select filterable clearable placeholder="Teacher" size="mini"
                       v-model="filterForm.teacher_id">
              <el-option v-for="item in teachers" :key="'teacher -'+ item.name + item.id" :label="item.full_name" :value="item.id">
              </el-option>
            </el-select>
          </th>
          <th v-if="columns.subject_id.show">
            <el-select filterable clearable placeholder="Subject" size="mini"
                       v-model="filterForm.subject_id">
              <el-option v-for="item in subjects" :key="'subject -'+ item.name + item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </th>
          <th v-if="columns.start_date.show">
            <el-date-picker
                v-model="filterForm.start_date"
                value-format="yyyy-M-d"
                format="yyyy-M-d"
                placeholder="Start date"
                size="mini"
            ></el-date-picker>
          </th>

          <th v-if="columns.created_at.show">
            <el-date-picker
                v-model="filterForm.created_at"
                value-format="yyyy-M-d"
                format="yyyy-M-d"
                placeholder="Created at"
                size="mini"
            ></el-date-picker>
          </th>
        </tr>
        </thead>

        <transition-group name="flip-list" tag="tbody">
          <tr v-for="schedule in list" :key="schedule.id" class="cursor-pointer">
            <td v-if="columns.id.show">{{ schedule.id }}</td>
            <td v-if="columns.room_id.show">{{ schedule.room }}</td>
            <td v-if="columns.group_id.show">{{ schedule.group }}</td>
            <td v-if="columns.teacher_id.show">{{ schedule.teacher }}</td>
            <td v-if="columns.subject_id.show">{{ schedule.subject }}</td>
            <td v-if="columns.start_date.show">{{ schedule.start_date }}</td>
            <td v-if="columns.created_at.show">{{ schedule.created_at }}</td>
          </tr>
        </transition-group>
      </table>
      <el-drawer
          size="60%"
          :visible.sync="drawer.create.status"
          :ref="drawer.create.name"
          @opened="drawerOpened(drawer.create.component)"
          @closed="drawerClosed(drawer.create.component)">
        <crm-create :ref="drawer.create.component" :drawer-name="drawer.create.name"></crm-create>
      </el-drawer>
    </div>

  </div>

</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CrmCreate from "./crm-create";
import list from "@/utils/mixins/list";
import drawer from "@/utils/mixins/drawer";
export default {
  mixins:[list ,drawer],
  name: "HomeView",
  components:{
    CrmCreate,
  },
  data(){
    return {
      loadingData: false,
      selectedModel: {},
      drawer: {
        create: {
          name: "create",
          status: false,
          component: 'Create'
        },
      }
    }
  },
  computed:{
    ...mapGetters({
      list: 'schedules/list',
      columns: "schedules/columns",
      pagination: "schedules/pagination",
      filter: "schedules/filter",
      sort: "schedules/sort",
      rooms: "rooms/list",
      groups: "groups/list",
      teachers: "teachers/list",
      subjects: "subjects/list",

    })
  },
  async mounted(){
    if (this.rooms && this.rooms.length === 0)
      await  this.loadRooms();
    if (this.groups && this.groups.length === 0)
      await  this.loadGroups();
    if (this.teachers && this.teachers.length === 0)
      await  this.loadTeachers();
    if (this.subjects && this.subjects.length === 0)
      await  this.loadSubjects();
  },
  methods: {
    ...mapActions({
      updateList: 'schedules/index',
      updateSort: "schedules/updateSort",
      updateFilter: "schedules/updateFilter",
      updatePagination: "schedules/updatePagination",
      empty: 'schedules/empty',
      refreshData: 'schedules/refreshData',
      loadRooms: "rooms/index",
      loadGroups: "groups/index",
      loadTeachers: "teachers/index",
      loadSubjects: "subjects/index",

    }),
    fetchData() {
      const query = { ...this.filter, ...this.pagination, ...this.sort };
      if (!this.loadingData) {
        this.loadingData = true;
        this.updateList(query).then(res => {
          this.loadingData = false
        }).catch(err => {
          this.loadingData = false
        });
      }
    },
    refresh() {
      this.refreshData()
          .then(res => {
            this.filterForm = JSON.parse( JSON.stringify( this.filter ));
          })
          .catch(err => {

          })
    },
    emptyModel(){
      this.empty()
    },
  }
};
</script>
