<template>
  <div>
    <div class="container">
      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <div>Create</div>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
          <el-row class="button_r">
            <el-button type="success" :loading="loadingButton" :disabled="loadingButton ? true : false"
                       @click="submit(true)">Save
            </el-button>
            <el-button @click="close()">Close</el-button>
          </el-row>
        </el-col>
      </el-row>
    </div>

    <div class="container">
      <el-form ref="form" :model="form" :rules="rules" size="small">
        <el-row :gutter="25">
          <!-- end col -->
          <el-col :span="12">
            <el-form-item label="Name" prop="name">
              <el-input v-model="form.name"></el-input>
            </el-form-item>
          </el-col>
          <!-- end col -->
        </el-row>
        <!-- end el-row -->
      </el-form>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex';
import form from '@/utils/mixins/form';
import drawerChild from '@/utils/mixins/drawer-child';

export default {
  mixins: [form, drawerChild],
  data() {
    return {}
  },
  components: {
  },
  created() {
  },
  computed: {
    ...mapGetters({
      rules: 'groups/rules',
      model: 'groups/model',
      columns: 'groups/columns'
    })
  },
  methods: {
    ...mapActions({
      save: 'groups/store',
      empty: 'groups/empty',
    }),
    afterOpened() {
      this.form = JSON.parse(JSON.stringify(this.model));
    },
    afterClosed() {
      this.empty()
    },
    submit(close = true) {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loadingButton = true;
          this.save(this.form)
              .then(res => {
                this.loadingButton = false;
                this.$alert(res);
                this.parent().listChanged()
                if (close == true) {
                  this.close();
                }
              })
              .catch(err => {
                this.loadingButton = false;
                this.$alert(err);
              });
        }
      });
    }
  }
}
</script>
